* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(21, 7, 83) 30%, rgba(43, 82, 189) 45%, rgb(43, 82, 189) 55%, rgba(21, 7, 83) 70%, rgba(0,0,0,1) 100%);
}

header {
    display: block;
    backdrop-filter: blur(0.5px);
    width: 300px;
    height: 400px;
    position: absolute;

    margin: 20px 40px;
}

.logo {
    display: block;
    width: 200px;
    height: 50%;
    align-items: center;
}

.logo h1 {
    color: #000000;
    font-size: 18px;
    font-family: 'Caesar Dressing', cursive, 'Arial';
    font-weight: 100;
}

.img-logo {
    width: 100px;
    padding-left: 40px;
    filter: brightness(0);
}

/* .texto-logo{

} */

header ul {
    list-style: none;
}

header ul a {
    color: #000000;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Skranji', cursive;
    letter-spacing: 1px;
    row-gap: 100px;
    text-decoration: none;
}

header ul a:visited {
    text-decoration: none;
}

header ul a:hover {
    transition: 0s all;
    transform: 1ms ease-in;
    position: relative;
    border: 2px solid rgba(20, 18, 18, 0.767);
    border-radius: 20px;
    padding: 5px 10px;
    background: linear-gradient(0deg, #eb934b49 0%, #ffffff38 50%, #eb934b49 100%);
}

nav {
    width: 400px;
    height: 50%;
}

.img-nav {
    width: 30px;
    padding-top: 5px;
    padding-right: 10px;
    filter: brightness(0);
}

.bdcida {
    display: flex;
}

#cidade {
    background-image: url('../img/gifkonoha.gif');
    background-repeat: no-repeat;
    background-size: 111%;
}

#cidade, #curiosidades, #video {
    width: 100%;
    height: 750px;
}

h2 {
    color: #cc6506;
    padding: 50px 0 50px 20%;
    font-family: 'Caesar Dressing', cursive, 'Arial';
    font-size: 40px;
    letter-spacing: 5px;
}

.curiosidades {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 300px;
    height: 500px;
    position: relative;

}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
    border: solid 2px #cc6506;
    box-shadow: 1px 5px 5px 1px  #000;
}

.card .front {
    transform: perspective (700px) rotateY(-180deg);
    z-index: 1;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .back {
    transform: perspective (700px) rotateY(180deg);
    text-align: center;
    justify-content: space-between;
}

.card .fundacao {
    background-color: rgb(85, 107, 100);
}

.card .naruto-sasuke {
    background-color: rgb(82, 21, 110);
}

.card .ataque-pain {
    background-color: rgb(41, 5, 5);
}

.card .texto {
    padding: 15px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.card .texto h3 {
    font-size: 30px;
    font-family: 'Skranji', cursive;
    margin-top: 10px;
    letter-spacing: 2px;
    color: #cc6506;
}


.card:hover .front {
    transform: perspective(700px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(700px) rotateY(360deg);
}

.video {
    display: flex;
    justify-content: center;
}

h3 {
    color: #063d0f;
}
 
footer {
    height: 70px;
    background-image: url('../img/footerkonoha.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    border-top: solid 1px #cc6506;
    margin-top: 50px;
    
}

.ul-footer {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    backdrop-filter: blur(2.5px);
    align-items: center;
    margin: 0 100px;

}

.ul-footer li {
    list-style: none;
    margin: 0 10px;
}

footer li a {
    text-decoration: none;
    filter: brightness(0);
}


.ul-footer img {
    width: 40px;
}

@media (max-width: 1200px) {
    #cidade{
        background-size: 130%;
    }
}

@media (max-width: 1024px) {
    #cidade{
        background-size: 135%;
    }


    header {
        display: block;
        backdrop-filter: blur(0.5px);
        width: 150px;
        height: 400px;
        position: absolute;
    
        margin: 20px 40px;
    }
    .logo {
        display: block;
        width: 150px;
        height: 30%;
        align-items: center;
    }

    .logo img {
        width: 100px;
    }
    
    .logo h1 {
        font-size: 14px;
    }
    
      
    header ul a {
        font-size: 18px;
        font-weight: 600;
        row-gap: 50px;
    }
      
    .img-nav {
        width: 20px;
        padding-top: 4px;
        padding-right: 5px;
    }

    #cidade, #curiosidades {
        width: 100%;
        height: 660px;
    }
    
    h2 {
        padding: 40px 0 40px 20%;
        font-size: 35px;
    }

    .curiosidades {
        gap: 40px;
    }
    
    .card {
        width: 260px;
        height: 450px;   
    }
    
    #video {
        width: 100%;
        height: 600px;
    }

    iframe {
        width: 750px;
        height: 450px;
    }

    .card .texto {
        font-size: 15px;
    }
    
    .card .texto h3 {
        font-size: 25px;
        margin-top: 8px;
    }
}

@media (max-width: 768px) {
    #cidade {
        width: 100%;
        height: 400px;
    }

    #curiosidades {
        width: 100%;
        height: 1150px;
    }
   

    h2 {
        padding: 40px 0 40px 20%;
        font-size: 25px;
        letter-spacing: 3px;
    }
    
    .curiosidades {
        flex-direction: column;
        padding: 10px;
    }
    
    .card {
        width: 500px;
        height: 300px;   
    }
      
    #video {
        width: 100%;
        height: 400px;
    }

    iframe {
        width: 535px;
        height: 300px;
    }
}


@media (max-width: 425px) {
    header {
        width: 150px;
        height: 300px;
    }

    .logo {
        width: 150px;
    }
    
    .logo img {
        width: 50px;
    }

    .logo h1 {
        font-size: 13px;
    }
          
    header ul a {
        font-size: 15px;
        font-weight: 400;
        row-gap: 30px;
    }
      
    .img-nav {
        width: 16px;
    }

    #cidade {
        width: 120%;
        height: 500px;
    }

    #curiosidades {
        width: 100%;
        height: 900px;
    }
   

    h2 {
        padding: 10px 0 40px 0;

    }
    
    .curiosidades {
        flex-wrap: wrap;
        padding: 10px;
    }
    
    .card {
        width: 400px;
        height: 250px;   
    }
      


    .card .texto {
        font-size: 15px;
    }
    
    .card .texto h3 {
        font-size: 20px;
        margin-top: 2px;
    }


    #video {
        width: 100%;
        height: 400px;
    }

    iframe {
        width: 400px;
        height: 250px;
    }
}