/* @import url('https://fonts.googleapis.com/css2? family= BenchNine & family= Gloria+Hallelujah & family= Josefin+Sans & family= Rock+Salt & family= Special+Elite & display= troca');
/* font-family: 'BenchNine', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Special Elite', cursive; */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
}

header {
    display: block;
    backdrop-filter: blur(1.5px);
    width: 400px;
    height: 500px;
    position: absolute;
    justify-content: space-around;
}

.logo {
    display: block;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.logo h1 {
    color: #FFFFFF;
}

.img-logo {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}


/* .texto-logo{

} */

header ul {
    list-style: none;
}



header ul a {
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    font-family: 'BenchNine', sans-serif;
    row-gap: 100px;
    text-decoration: none;
}


header ul a:visited {
    text-decoration: none;
}

header ul a:hover {

    transition: 0s all;
    transform: 1ms ease-in;
    position: relative;
    border: 2px solid rgba(20, 18, 18, 0.767);
    border-radius: 20px;
    padding: 5px 10px;
    background: linear-gradient(0deg, #eb934b49 0%, #ffffff38 50%, #eb934b49 100%);
}

nav {
    width: 400px;
    height: 50%;
}



.img-nav {
    width: 30px;
    padding-top: 5px;
    padding-right: 10px;
}


#cidade{
    background-image: url('../img/konoha.png');
    background-repeat: no-repeat;
    background-size: 100%;
    animation: myAnim 10s linear 0s 1 normal forwards;
}

@keyframes myAnim {
    30% {
        background-position: left center;
        background-size: 100%;
    }
    
    100% {
        background-position: left center;
        background-size: 105%;
    }
}



#cidade, #curiosidades, #video {
    width: 100vw;
    height: 100vh;
}

h2 {
    color: #FFFFFF;
    padding: 50px;

}

#curiosidades {
    background-color: #000;
}
.curiosidades {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.card {
    width: 300px;
    height: 500px;
    position: relative;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.5s;
}

.card .front {
    transform: perspective (700px) rotateY(-180deg);
    box-shadow: 0 5px 5px #000;
    z-index: 1;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .back {
    transform: perspective (700px) rotateY(180deg);


    text-align: center;

}

.card .fundacao {
    background-color: rgb(69, 233, 178);
}

.card .naruto-sasuke {
    background-color: rgb(94, 7, 105);
}

.card .ataque-pain {
    background-color: rgb(41, 5, 5);
}

.card .texto {
    padding: 20px;
    color: #f3f3f3;
}

.card .texto h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    color: rgb(204, 101, 6);
}

.card:hover .front {
    transform: perspective(700px) rotateY(180deg);
}
.card:hover .back {
    transform: perspective(700px) rotateY(360deg);
}


/*
.frente,
.verso {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid #ffffff;
    border-radius: 25px;
    transition: 500ms;
}

.frente {
    z-index: 1;
   
    background-position: center;
}

.verso {
    background-color: rgb(172, 41, 41);
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.card:hover .frente {
    transform: rotateY(180deg);
    z-index: 0;
}

.card:hover .verso {
    transform: rotateY(0);
    z-index: 1;
}

.texto {
    padding: 20px;
}

.curiosidades div:hover {
    transform: scale(1.03);
    filter: brightness(130%);
}  */

.video {
    display: flex;
}

h3{
    color:#063d0f; 
}

footer {
    height: 150px;
    background-color: #ffffff;
    background-image: url('../img/footer.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

} 