* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, #000000 0%, #150753 30%, #2b52bd 45%, #2b52bd 55%, #150753 70%, #000000 100%);
}

header {
    display: block;
    position: absolute;
    margin: 40px;
    height: 440px;
    width: 300px;
}
 
.logo {
    display: block;
    align-items: center;
    height: 50%;
    width: 200px;
}

.logo h1 {
    color: #000000;
    font-family: 'Caesar Dressing', cursive, 'Arial';
    font-size: 18px;
    font-weight: 100;
}

.img-logo {
    filter: brightness(0);
    padding-left: 40px;
    width: 100px;
}

header ul {
    list-style: none;
}

header ul a {
    color: #000000;
    letter-spacing: 1px;
    font-size: 25px;
    font-family: 'Skranji', cursive;
    font-weight: 800;
    row-gap: 100px;
    text-decoration: none;
}

header ul a:visited {
    text-decoration: none;
}

header ul a:hover {
    position: relative;
    background: linear-gradient(0deg, #eb934b49 0%, #ffffff38 50%, #eb934b49 100%);
    border: 2px solid #141212c4;
    border-radius: 20px;
    padding: 5px 10px 3px 10px;
}

.img-nav {
    filter: brightness(0);
    padding-top: 5px;
    padding-right: 10px;
    width: 30px;
}

.back-cidade {
    display: flex;
}

#cidade, #curiosidade {
    width: 100%;
    height: 100vh;
}

#cidade {
    background-image: url('../img/konoha.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    padding: 60px 0 55px 200px;
    color: #cc6506;
    font-family: 'Caesar Dressing', cursive, 'Arial';
    font-size: 40px;
    letter-spacing: 5px;
}

.curiosidades {
    display: flex;
    gap: 55px;
    justify-content: center;
}

.card {
    position: relative;
    height: 500px;
    width: 300px;    
}

.card .face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 1px 5px 5px 1px  #000;
    border: solid 2px #cc6506;
    overflow: hidden;
    transition: 0.5s;
}

.card .front {
    transform: perspective (700px) rotateY(-180deg);
    z-index: 1;
}

.card .front img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .back {
    transform: perspective (700px) rotateY(180deg);
    justify-content: space-between;
    text-align: center;
}

.card:hover .front {
    transform: perspective(700px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(700px) rotateY(360deg);
}

.card .fundacao {
    background-color: #556b64;
}

.card .naruto-sasuke {
    background-color: #52156e;
}

.card .ataque-pain {
    background-color: #290505;
}

.card .texto h3 {
    color: #cc6506;
    font-family: 'Skranji', cursive, 'Arial';
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
}

.card .texto {
    padding: 15px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 22px;
}

#video {
    height: 93vh;
    width: 100%;
}

.video-konoha {
    display: flex;
    justify-content: center;
}

iframe {
    width: 900px; /* proporção de 1,8 para alt X larg */
    height: 500px;
    border-radius: 5px;
    border: solid 2px #cc6506;
}
 
footer {
    height: 7vh;
    background-image: url('../img/footerkonoha.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    border-top: solid 2px #cc6506;    
}

.ul-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    margin: 0 100px;
}

.ul-footer li {
    list-style: none;
    margin: 0 10px;
}

footer li a {
    text-decoration: none;
}

.ul-footer img {
    width: 40px;
    filter: brightness(0);
}